<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color: ivory; background-color: navy;border-color: dimgrey; border-radius: 1000%; "><i>Bikash Mart</i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/login']">Login</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/register']">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/logout']">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" [routerLink]="['/addProduct']">Add</a>
                    <a class="dropdown-item" [routerLink]="['/displayProduct']">Display</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>